.cartaContainer{
    background-color: lightgrey;
    margin: auto;
    width: 100%;
}

.carta{
    justify-content: center;
    display: flex;
}

.title{
    font-size: 3em;
    text-align: center;
}

.content{
    font-size: 2em;
    text-transform: capitalize;
}

table{
    align-self: center;
}

.content img, .item img {
    width: 150px;
}