.cartaContainer{
    background-color: antiquewhite;
    text-align: center;
}
.cartaContainer td::first-letter{
    text-transform: capitalize;
}
.cartaContainer td{
    text-transform: lowercase;
}

.cartaContainer .modifyCartaButton{
    font-size: 2em;
    border-radius: 5px;
}


.table{
    text-align: center;
}

table tr td{
    border-bottom-width: 0px !important;
}

#tablaCarta{
    font-size: 2em;
}

.title{
    font-weight: bold;
    background-color: rgb(158, 255, 78);
}

#carta img{
    display: block;
    max-width: 100%;
}

#imgPreview{
    max-width: 50%;
}

.fila{
    background-color: rgb(231, 255, 122);
    width: 70%;
}

.existentCategories{
    font-size: 2em;
}

.smallImg{
    width: 2em;
}