.cartaContainer{
    background-color: antiquewhite;
    text-align: center;
}
.cartaContainer td::first-letter{
    text-transform: capitalize;
}
.cartaContainer td{
    text-transform: lowercase;
}

.cartaContainer .modifyCartaButton{
    font-size: 2em;
}

.closeButton{
    background-color: rgb(255, 80, 80);
}

.table{
    text-align: center;
}

table tr td{
    border-bottom-width: 0px !important;
}

#tablaCarta{
    font-size: 2em;
}

.title{
    font-weight: bold;
    background-color: rgb(158, 255, 78);
}

#carta img{
    display: block;
    max-width: 100%;
}

#imgPreview{
    max-width: 50%;
}

.popup-window{
    background-color: rgb(144, 181, 127);
    position: absolute;
    top: 20%;
    left: 20%;
    border: 4px solid black;
}
.popup-window label, .popup-window input, .popup-window select, .popup-window button{
    font-size: 2em;
}

.fila{
    background-color: rgb(231, 255, 122);
    width: 70%;
}

.existentCategories{
    font-size: 2em;
}

.smallImg{
    width: 2em;
}