.eachOrder{
    background-color: rgba(39, 110, 6, 0.514);
    border: 5px solid black;
    padding: 1em;
}

.totalCost{
    background-color: rgb(234, 255, 158);
}

.paid{
    background-color: lightgreen;
}

.editOrder{
    background-color: violet;
}

.detailedOrderBox{
    background-color: rgba(39, 110, 6, 0.514);
}