.catItems{
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgray;
}

.item{
    text-align: center;
    margin: 0.3em 1em;
}

.selected{
    border: 0.5em solid yellow;
}

.categoryButton{
    width: 100%;
}

#order{
    padding: 1em;
}

.nombre{
    font-size: 2em;
    margin-right: 1em;
}
li{
    margin-right: 1em;
    font-size: 1.5em;
    text-transform: capitalize;
}

.submitButton{
    font-size: 2.5em;
    border-radius: 5px;
    background-color: rgb(123, 255, 123);
}

.item{
    text-transform: capitalize;
}