.eachOrder{
    background-color: lightblue;
    border: 0.5em solid grey;
    padding: 1em;
}

#order{
    display: flex;
    justify-content: center;
}

#buttons{
    display: flex;
    flex-direction: column;
}

#buttons button {
    margin: 0.3em;
    font-size: 3em;
}

#firstColumn{
    background-color: aliceblue;
    border: 3px solid black;
    padding: 0em 1em;
}

#secondColumn{
    background-color: bisque;
    border: 3px solid black;
    padding: 0em 1em;
}

.totalCost{
    background-color: rgb(234, 255, 158);
}

.paid{
    background-color: lightgreen;
}

.editOrder{
    background-color: violet;
}

