a button{
    padding: 4em 0em !important;
}


.waiter{
    background-color: rgb(254, 255, 182) !important;
    border: 0.2em solid black !important;
}

.manager{
    background-color: rgb(199, 255, 182) !important;
    border: 0.2em solid black !important;
}

.boss{
    background-color: rgb(199, 255, 182) !important;
    border: 0.2em solid black !important;
}

.fourgrids img{
    display: block;
    max-width: 40%;
}