.eachOrder{
    background-color: rgb(122, 226, 136);
    border: 5px solid black;
    padding: 1em;
}

.totalCost{
    background-color: rgb(234, 255, 158);
}

.paid{
    background-color: lightgreen;
}

.editOrder{
    background-color: violet;
}

#firstCol{
    background-color: rgb(176, 255, 176);
    padding: 1em 2.5em;
    margin: 0em 3em;
}

#secondCol{
    background-color: rgb(216, 158, 255);
    padding: 1em 2.5em;
    margin: 0em 3em;
    height: fit-content;
}
